*{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
}

table{
	border:none;
	margin:0;
	padding:0;
}

.border_rb1s0{
	font-size:10px;
	border:1px solid #000;
	border-left:none;
	border-top:none;
}

.texto_bold{
	font-weight:bold;
}

.titulo_empresa{
	color:#039;
	font-size:28px;
	font-weight:bold;	
}

.texto_14{ 
	font-size:14px;
}

.titulo_tipo{
	font-size:22px;
	font-weight:bold;	
}

.titulo_tabla{
	font-size:16px;
	color:#008000;
	padding:3px 0;
	border:2px solid #666;
	border-right:none;
	border-left:none;
}

.interior{
	width:1000px;
	margin:0 auto;
}

.texto_izq{ text-align:left; }
.texto_s12{ font-size:12px !important; }
.fondo_total{ background-color:#D9D9D9; }

button#imprimir{
	background-image:url(/imagenes/icons/icon-hoja-impr.png);
	background-repeat:no-repeat;
	background-position:5px 10px;
	border:1px solid #000;
	cursor:pointer;
	font-size:14px;
	padding:15px 15px 15px 45px;	
}

button#enviar_correo{
	background-image:url(/imagenes/icons/icon-hoja-enviar.png);
	background-repeat:no-repeat;
	background-position:5px 10px;
	border:1px solid #000;
	cursor:pointer;
	font-size:14px;
	padding:15px 15px 15px 45px;
}